apiVersion: v1
kind: Service
metadata:
  name: flask-monitor-svc
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  selector:
    {{- include "labels" . | nindent 4 }}
  type: ClusterIP
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
